.in__count{
    color:black;
    background-color: rgb(0, 67, 252);
    height: 100px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    box-shadow: black;
    float: right;
    margin-right: 450px;
    margin-top: 250px;
    border-radius: 10px;
}

.count__button{
    color: white;
    background-color:rgb(0, 67, 252);
    border: black;
    float: left;
    margin-left: 450px;
    margin-top: 300px;
    border: 1px solid black;
}
